#h1, h5, th { text-align: center; }
body {
   background-color:#fff;
   font-family:Calibri;
   font-size:11pt;
}
TABLE {
   border-width: 1px;
   border-style: solid;
   border-color: black;
   border-collapse: collapse;
   width:100%;
   height: 100%;
}
th { 
   border:1px solid #777;
   padding: 2px;
   font-weight: bold;
   color: white;
   background-color: #777;
}
td {
	border:1px solid #777;
	padding: 2px;
    background-color:white;
    color:black;
}
td.pass { 
  color: green; 
  font-weight: bold; 
 }
.fail { 
  color: red;
  font-weight: bold;
}


